table {
  width: 93%;
  border: 1px solid rgba(0, 0, 0, 0.438);
  border-radius: 0.1rem;
  margin: 1rem 0 0 3rem;
  border-collapse: collapse;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.397);
  margin: 0;
}

button {
  background-color: white;
  width: max-content;
  padding: 0.3rem;
  border: 1.5px solid rgba(0, 0, 0, 0.384);
  border-radius: 0.1rem;
  margin: 1rem;
}

td {
  padding: 0.2rem;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.438);
}

span {
  display: inline-block;
  width: max-content;
  border: 1.5px solid rgba(0, 0, 0, 0.384);
  margin: 0.8rem;
  padding: 0.1rem;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.notMember {
  background-color: rgba(128, 128, 128, 0.842);
}

.activeMember {
  background-color: rgb(25, 128, 128);
}

.leaveMission {
  color: rgba(255, 0, 0, 0.363);
}
