nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 80px;
}

.navLinks li a {
  color: rgba(0, 0, 255, 0.719);
  font-size: 1.4rem;
}

#title > a {
  text-decoration: none;
  color: unset;
  font-size: 2.4rem;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  list-style: none;
}

.divider {
  width: 3px;
  height: 18px;
  background: rgba(0, 0, 0, 0.336);
}

.active {
  text-decoration: underline;
}

.inactive {
  text-decoration: none;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }

  .navLinks > li > a {
    font-size: 1.1rem;
  }

  #title > a {
    font-size: 1.6rem;
  }

  .logo {
    width: 50px;
  }

  .navLinks {
    width: unset;
    margin: 20px 0;
    gap: 20px;
  }
}
