nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.4rem 3rem 2rem 0;
  margin: 0 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
}

.navLinks li a {
  color: rgba(0, 0, 255, 0.548);
}

.active {
  text-decoration: none;
}

.navLinks li:last-child::before {
  content: "|";
  margin-right: 1.5rem;
}

