.rocketItem {
  display: flex;
  gap: 20px;
  padding: 1rem 2.5rem;
}

.imgDescription img {
  width: 380px;
}

.textDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textDescription > h3 {
  font-size: 1.6rem;
}

.textDescription > p {
  font-size: 1.5rem;
  word-spacing: 3px;
  line-height: 1.2;
}

.textDescription button {
  border-radius: 0.2rem;
  margin: 0.8rem 0;
  border: 1px solid rgba(105, 104, 104, 0.336);
}

.activeReserve {
  background-color: rgba(0, 102, 255, 0.89);
  color: white;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.336);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 12px;
  margin: 0;
}

.activeReserve:hover {
  cursor: pointer;
  background: rgb(223, 222, 222);
  border: none;
  color: rgba(0, 0, 255, 0.719);
}

.activeBtn {
  font-weight: 700;
  font-size: 1.2rem;
  color: darkgray;
  padding: 12px;
  margin: 0;
}

.activeBtn:hover {
  cursor: pointer;
}

.activeReserveSize {
  border: 1px solid rgba(134, 134, 134, 0.336);
  margin: 0.5rem 0.5rem 0.5rem 0;
  font-size: 0.8rem;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 0.2rem;
  background: rgb(62, 190, 137);
}

.activeReserveSize:hover {
  cursor: unset;
  background: unset;
  background: rgb(62, 190, 137);
  color: #fff;
  border: 1px solid rgba(134, 134, 134, 0.336);
}

@media (max-width: 600px) {
  .imgDescription > img {
    width: 250px;
  }

  .rocketItem {
    flex-direction: column;
  }

  .textDescription > p {
    font-size: 1.1rem;
    word-spacing: 3px;
    line-height: 1.2;
  }

  .activeReserve {
    font-size: 0.8rem;
    padding: 10px;
  }

  .activeBtn {
    font-size: 0.8rem;
    padding: 10px;
  }

  .activeReserveSize {
    padding: 5px;
  }
}
